.card {
    border: 1px solid var(--el-border-color-darker);
    border-radius: var(--el-border-radius-base);
    padding: 20px;
    margin-bottom: 20px;
}

.button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button p {
    font-size: 16px;
    font-weight: 700;
}

.button:disabled {
    /* filter: grayscale(1); */
    opacity: 0.5;
    cursor: not-allowed;
}